planets_api/src/main/mule/planets_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fe3ab1d3-c493-47d8-827f-2a36aef717ea" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="planets_apiFlow" doc:id="e34d95d6-a073-414e-98da-5d64d5b89640" >
		<http:listener doc:name="Listener" doc:id="25f205d2-8562-4591-a402-b5625ada4095" config-ref="HTTP_Listener_config" path="/planets"/>
		<flow-ref doc:name="Flow Reference" doc:id="6b6956bf-0621-4f45-a075-33d4f82d64e8" name="planets_apiFlow1"/>
	</flow>
	<flow name="planets_apiFlow1" doc:id="56057bbd-1672-45b7-8d3e-d8ddf6596945" >
		<ee:transform doc:name="Transform Message" doc:id="bc2c6949-3410-4b00-9b7c-a618fd51218c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Hiii Sai"]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="id2"><![CDATA[%dw 2.0
output application/java
---
22]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="81b51f01-71cb-4c24-9d9a-1fca6a95fac1" message="#[vars.id2]" />
	</flow>
</mule>
